<!DOCTYPE html>
<html>
<head>
    <title>Administración Juncal</title>
    <meta name="viewport" content="minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="format-detection" content="telephone=no" />

	<link rel="stylesheet" href="mobileui/mui.min.css" type="text/css">
    <link rel="stylesheet" href="custom/custom.css" type="text/css">
    <link rel="stylesheet" href="keen/keen-ui.min.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="pwa/vue.js"></script>
    <script src="phonegap.js"></script>		
 	<script src="vendors/fastclick.min.js" type="text/javascript"></script>    	 	
    	
    <script src="vendors/jquery.min.js" type="text/javascript"></script>
    <script src="vendors/jquery.animate-enhanced.js" type="text/javascript"></script>
	<script src="vendors/jqwait/jquery.wait.min.js" type="text/javascript"></script>   
    <script src="vendors/iscroll-min.js" type="text/javascript"></script>
    
	<script src="mobileui/mui.min.js" type="text/javascript"></script>
	<script src="custom/data.js"></script>
    <script src="custom/custom.js" type="text/javascript"></script>
</head>
<body>
	<!-- Main wrapper. Importantly, think carefully before you change it or remove it. Do not recommend it. -->
	<!-- Main wrapper. Importante, Piénselo bien antes de cambiarlo o quitarlo. No se lo recomiendo. -->
	<div id="app">	
		<div id="mui-screen" class="mui-viewport" :class="{colpaseleft:isLeftPanelCollapsed,colpaseright:isRightPanelCollapsed }">
			<div id="login-page" class="mui-page mui-scrollable">
				<div class="title-login">
<!-- 					<h2>Administración Juncal</h2> -->
				</div>
				<div class="login-form">
					<div class="textbox-login">
						<ui-textbox 
							placeholder="Usuario"
							:invalid="login.invalidName"
							error="Debe ingresar un nombre de usuario valido"
							v-model="login.userName"	
						></ui-textbox>
						<ui-textbox
							placeholder="Contraseña"
							type="password"
							:invalid="login.invalidPassword"
							error="Debe ingresar una contraseña valida"
							v-model="login.password"
						></ui-textbox>
					</div>
					<div align="center">
						<div class="button-login"> 
							<ui-button 
								color="primary" 
								@click="goLogin"
								>Ingresar
							</ui-button>
							<ui-button 
								class="bnt-secondary-blue"
								type="secondary"
								color="primary" 
								@click=""
								>Registrarse
							</ui-button>
						</div>
					</div>
				</div>
				
				
<!-- 				<div class="form-login"> -->
<!-- 					<p>Ingreso al sistema</p> -->
<!-- 					<fieldset class="fieldset-login"> -->
<!-- 						<ui-textbox -->
<!-- 							label="Usuario" -->
<!-- 							required -->
<!-- 							:invalid="login.invalidName" -->
<!-- 							error="Debe ingresar un nombre de usuario valido" -->
<!-- 							v-model="login.userName"	 -->
<!-- 						></ui-textbox> -->
<!-- 						<ui-textbox -->
<!-- 							label="Password" -->
<!-- 							required -->
<!-- 							type="password" -->
<!-- 							:invalid="login.invalidPassword" -->
<!-- 							error="Debe ingresar una contraseña valida" -->
<!-- 							v-model="login.password" -->
<!-- 						></ui-textbox> -->
<!-- 						<div align="center" class="button-m"> -->
<!-- 							<ui-button  -->
<!-- 								class="bnt-secondary-blue" -->
<!-- 								type="secondary" -->
<!-- 								color="primary"  -->
<!-- 								@click="" -->
<!-- 								>Registrarse -->
<!-- 							</ui-button> -->
<!-- 							<ui-button  -->
<!-- 								color="primary"  -->
<!-- 								@click="goLogin" -->
<!-- 								>Ingresar -->
<!-- 							</ui-button> -->
<!-- 						</div> -->
<!-- 					</fieldset> -->
<!-- 				</div> -->
			</div>
			<div id="left-panel" v-show="showLeftPanel" class="mui-panel mui-left-panel">
				<div class="mui-panel-header">
<!-- 					<div class='mui-panel-title'>Menu</div> -->
				</div>
				<div class="mui-panel-body">
					<div id='menuoptions'>
						<ui-menu 
							has-icons 
							color="primary"
							:options="menuOptions"  
							@select="selectItemLeftPanel">
						</ui-menu>
					</div>
				</div>
			</div>	
			<div id="mui-screen-page" class="mui-page">
				<div class="mui-page-header">
					<div class="icon-header">
						 <ui-icon-button 
						 	icon="menu"
						 	color="primary"
						 	type="secondary" 
						 	@click="hideLeftMenu">
						</ui-icon-button>
					</div>
					<div class="title-header" align="center">
						<p>Administracón Juncal</p>
					</div>
					<div class="logaut-header" align="left">
						<ui-button 
							class="bnt-secondary-blue"
							type="secondary"
							color="primary" 
							size="small"
							@click="goLogaut"
							>Salir
						</ui-button>
					</div>
				</div>
				<div class="mui-page-body">
				<!-- 			El resto va aqui -->
					<div id="mui-viewport" class="mui-viewport">	
						<div id="home-page" class="mui-page mui-scrollable">
							<div slot="header">
								<h3>Edificios</h3>
							</div>
							<div class="table table-emp">
								<div class="heading">
									<div class="cell">
										<p>Nombre</p>
									</div>
									<div class="cell">
										<p>Dirección</p>
									</div>
									<div class="cell" style="width: 6%;">
										<p>&nbsp;</p>
									</div>
								</div>
								<div class="row-cebra" v-for="edificio in edificios" @click="verEdificio(edificio)" style="cursor: pointer;">
									<div class="cell border-button">
										<p>{{edificio.nombre}}</p>
									</div>
									<div class="cell border-button">
										<p>{{edificio.direccion}}</p>
									</div>
									<div class="cell border-button align-v" align="center">
										<i class="material-icons">
											keyboard_arrow_right										
										</i>
									</div>
								</div>
							</div>
						</div>
						<div id="edificio-page" class="mui-page mui-scrollable">
							<h3 slot="header">{{edificio.nombre}}</h3>
							<div class="list-card-option">
								<div class="card-option">
									<div class="div-title-card align-v">
										<h4 class="title-card">Ingresar Pago</h4>
									</div>	
									<p style="min-height: 43%;">Ingreso de pagos a proveedores o pagos por concepto de gastos comunes o fondo de reserva</p>
									<ui-button 
										color="primary" 
										@click="mostrarFormIngresoPago"
										>Ingresar
									</ui-button>
								</div>
								<div class="card-option">
									<div class="div-title-card align-v">
										<h4 class="title-card">Generar Liquidación</h4>
									</div>
									<p style="min-height: 43%;">Generar liquidación del mes seleccionado</p>
									<ui-button 
										color="primary" 
										@click="mostrarFormLiquidacion"
										>Ingresar
									</ui-button>
								</div>
								<div class="card-option">
									<div class="div-title-card align-v">
										<h4 class="title-card">Estado de cuenta</h4>
									</div>
									<p style="min-height: 43%;">Detalle del estado de cuenta del mes corriente</p>
									<ui-button 
										color="primary" 
										@click=""
										>Ingresar
									</ui-button>
								</div>
								<div class="card-option">
									<div class="div-title-card align-v">
										<h4 class="title-card">Copropietarios</h4>
									</div>
									<p style="min-height: 43%;">Listado de los copropietarios</p>
									<ui-button 
										color="primary" 
										@click=""
										>Ingresar
									</ui-button>
								</div>
								<div class="card-option">
									<div class="div-title-card align-v">
										<h4 class="title-card">Notificaciones</h4>
									</div>
									<p style="min-height: 43%;">Avisos de reparaciones, reuniones u otros avisos de interes</p>
									<ui-button 
										color="primary" 
										@click=""
										>Ingresar
									</ui-button>
								</div>
								<div class="card-option">
									<div class="div-title-card align-v">
										<h4 class="title-card">Detalle</h4>
									</div>
									<p style="min-height: 43%;">Detalle y edición de la informanción asociada al edificio seleccionado</p>
									<ui-button 
										color="primary" 
										@click="mostrarDetalle"
										>Ingresar
									</ui-button>
								</div>
							</div>
							
						</div>
						<div id="form-pagos-page" class="mui-page mui-scrollable">
							<h3 slot="header">{{edificio.nombre}}</h3>
							<ui-tabs fullwidth>
				                <ui-tab>
				                    <div slot="header" class="my-custom-tab-header">
				                       <span>Gastos</span>
				                    </div>
									<div>
										<fieldset class="fieldset-form-ingreso">
											<ui-select
								                label="Seleccione una unidad"
								                :options="edificio.unidades"
								                @change="cargarMontos()"
								                v-model="nuevaTransaccion.unidad"
								            ></ui-select>
								             <ui-select
								                label="Seleccionar mes"
								                :options="mesesLiquidacion"
								                v-model="nuevaTransaccion.mesLiquidacion"
								            ></ui-select>
											<ui-textbox
												label="Monto"
												placeholder="Ingrese el monto total realizado por el copropietario"
												@blur="chequearMontoIngresado"
												:invalid="nuevaTransaccion.invalidMonto"
												:error="nuevaTransaccion.errorMonto"
												v-model="nuevaTransaccion.monto"	
											></ui-textbox>
											<div class="form-dos">											
												<ui-textbox
													class="col-md-6"
													label="Gastos comunes"
													v-model="nuevaTransaccion.gastosComunes"	
												></ui-textbox>
												<ui-textbox
													label="Monto a pagar "
													disabled
													class="col-md-6 textbox-fondo-blue"
													v-model="nuevaTransaccion.debePagarGC">												
												</ui-textbox>
											</div>
											<div class="form-dos">				
												<ui-textbox
													class="col-md-6"
													label="Fondo de reserva"
													v-model="nuevaTransaccion.fondoReserva"	
												></ui-textbox>
												<ui-textbox
													label="Monto a pagar "
													disabled
													class="col-md-6 textbox-fondo-blue"
													v-model="nuevaTransaccion.debePagarFR">												
												</ui-textbox>
											</div>
								             <ui-datepicker
								                icon="events"
								                orientation="landscape"
								                :lang="calendarioEsp"
								                picker-type="modal"
								                v-model="nuevaTransaccion.fecha"
								            	>Fecha
											</ui-datepicker>
											<ui-textbox
												label="Obsevaciones"
												v-model="nuevaTransaccion.observacion"
											></ui-textbox>
										</fieldset>
										<div align="right" style="margin-top: 25px;">
											<ui-button 
												class="bnt-secondary-blue"
												type="secondary"
												color="primary" 
												@click=""
												>Restablecer
											</ui-button>
								            <ui-button 
												color="primary" 
												@click="guardarTransaccion(1)"
												>Confirmar
											</ui-button>
										</div>
									</div>
				                </ui-tab>
				                <ui-tab>
				                    <div slot="header" class="my-custom-tab-header">
				                        <span>Proveedores</span>
									</div>
									<div>
										<fieldset class="fieldset-form-ingreso">
											 <ui-select
								                label="Seleccione un proveedor"
								                has-search
								                :options="proveedores"
								                v-model="nuevaTransaccion.proveedor"
								            ></ui-select>
											<ui-textbox
												label="Monto"
												v-model="nuevaTransaccion.monto"	
											></ui-textbox>
								            <ui-select
								                label="Seleccionr mes"
								                :options="mesesLiquidacion"
								                v-model="nuevaTransaccion.mesLiquidacion"
								            ></ui-select>
								             <ui-datepicker
								                icon="events"
								                picker-type="modal"
								                v-model="nuevaTransaccion.fecha"
								            	>Fecha
											</ui-datepicker>
											<ui-textbox
												label="Obsevaciones"
												v-model="nuevaTransaccion.observacion"
											></ui-textbox>
										</fieldset>
										<div align="right" style="margin-top: 25px;">
											<ui-button 
												class="bnt-secondary-blue"
												type="secondary"
												color="primary" 
												@click=""
												>Restablecer
											</ui-button>
								            <ui-button 
												color="primary" 
												@click="guardarTransaccion(2)"
												>Confirmar
											</ui-button>
										</div>
									</div>
				                </ui-tab>
				            </ui-tabs>
						</div>
						<div id="detalle-edificio-page" class="mui-page mui-scrollable">
							<h3 slot="header">Ingreso de monto Anual</h3>
							<fieldset class="fieldset-form-ingreso">
								 <ui-select
					                label="Seleccione un año"
					                :options="años"
					                v-model="nuevoAnioMonto.anio"
					            ></ui-select>
								<ui-textbox
									label="Ingrese un monto"
									v-model="nuevoAnioMonto.monto"
								></ui-textbox>
				            </fieldset>
				            <div align="right" style="margin-top: 25px;">
								<ui-button 
									class="bnt-secondary-blue"
									type="secondary"
									color="primary" 
									@click=""
									>Restablecer
								</ui-button>
					            <ui-button 
									color="primary" 
									@click=""
									>Confirmar
								</ui-button>
							</div>
						</div>
						<div id="pagos-page" class="mui-page mui-scrollable">
							<div slot="header">
								<h3>Pagos</h3>
							</div>
							<fieldset class="fieldset-form-ingreso" style="margin-bottom: 20px;">
								<div style="margin-top: 25px;">
									<div class="form-dos">
										<div class="col-md-6">													
										     <ui-select
										     	label="Edificio"
								                :options="edificios"
								                @select="cargarUnidadesSelect()"
								                v-model="filtrosPagos.edificio"  
								            ></ui-select>
							            </div>
							            <div class="col-md-6">	
								            <ui-select
												label="Unidad"
												:disabled="filtrosPagos.edificio.id==0"
								                :options="edificio.unidades"
								                v-model="filtrosPagos.unidad"  
								            ></ui-select>
										</div>
									</div>
									<div class="form-dos">	
										<div class="col-md-6">	
											<ui-select
												label="Tipo de pago"
								                :options="tipoTransacciones"
								                v-model="filtrosPagos.tipoTransacciones"  
								            ></ui-select>
							            </div>
							            <div class="col-md-6">	
								            <ui-select
								            	label="Proveedor"
								                :options="proveedores"
								                v-model="filtrosPagos.proveedor"  
								            ></ui-select>
							            </div>
									</div>
									<div class="form-dos">	
										<div class="col-md-6">	
								             <ui-datepicker
								                orientation="landscape"
								                :lang="calendarioEsp"
								                picker-type="modal"
								                v-model="filtrosPagos.fechaInicio"
								            	>Fecha Inicio
											</ui-datepicker>
										</div>
										<div class="col-md-6">	
											 <ui-datepicker
								                orientation="landscape"
								                :lang="calendarioEsp"
								                picker-type="modal"
								                v-model="filtrosPagos.fechaFin"
								            	>Fecha Fin
											</ui-datepicker>
										</div>
									</div>
									<div align="right">
										 <ui-button 
							            	class="bnt-secondary-blue"
											type="secondary"
											color="primary" 
											@click="limpiarFiltrosPagos()"
											>Limpiar
										</ui-button>
										 <ui-button 
											color="primary" 
											@click="verTransacciones()"
											>Buscar
										</ui-button>
									</div>
								</div>
							</fieldset>
							<div class="table table-emp">
								<div class="heading">
									<div class="cell" style="width: 30%;">
										<p>Edificio</p>
									</div>
									<div class="cell" v-if="filtrosPagos.tipoTransacciones.value==1">
										<p>Unidad</p>
									</div>
									<div class="cell" v-if="filtrosPagos.tipoTransacciones.value==2">
										<p>Proveedor</p>
									</div>
									<div class="cell">
										<p>Monto</p>
									</div>
									<div class="cell">
										<p>Fecha</p>
									</div>
									<div class="cell" style="width: 18%;">
										<p>Número Factura</p>
									</div>
								</div>
								<div class="row-cebra" v-for="transaccion in transacciones">
									<div class="cell border-button">
										<p>{{transaccion.edificio.nombre}}</p>
									</div>
									<div class="cell border-button" v-if="filtrosPagos.tipoTransacciones.value==1">
										<p v-if="transaccion.idUnidad">{{transaccion.idUnidad.nroApartamento}}&nbsp;{{transaccion.idUnidad.tipoUnidad}}</p>
									</div>
									<div class="cell border-button" v-if="filtrosPagos.tipoTransacciones.value==2">
										<p v-if="transaccion.proveedor">{{transaccion.proveedor.nombre}}</p>
									</div>
									<div class="cell border-button">
										<p>{{transaccion.monto}}</p>
									</div>
									<div class="cell border-button">
										<p>{{transaccion.fecha}}</p>
									</div>
									<div class="cell border-button">
										<p>{{transaccion.nroFactura}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<ui-modal ref="formulario-generar-liquidacion" title="Aligned top" align-top>
                     <ui-select
		                label="Seleccionr mes"
		                :options="mesesLiquidacion"
		                v-model="nuevaLiquidacion.mesLiquidacion"
		            ></ui-select>
                    <div slot="footer">
                        <ui-button @click="closeModal('formulario-generar-liquidacion')">Close</ui-button>
                         <ui-button @click="generarLiquidacion" color="primary">Generar</ui-button>
                    </div>
              </ui-modal>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="pwa/vue.js"></script>
	<script src="keen/keen-ui.min.js"></script>
	<script src="custom/custom.js" type="text/javascript"></script>
	<script src="custom/data.js"></script>
</body>
</html>